@import url(https://fonts.googleapis.com/css?family=Righteous);

body{background-image:url(backg.jpg);
     font-family: 'Righteous', cursive;
     /* IMPORTANTE */
     text-align: center;
     alignment-adjust:middle;
}

h1{
    color: white;
    font-family: 'Righteous', cursive;
}

h2{
    color:white;
    font-family: 'Righteous', cursive;
}

table{
    font-family: 'Righteous', cursive;  

    margin: 0 auto;
    text-align: left;
}

a{
    color:white;
    font-family: 'Righteous', cursive;
    font-size: 15px;
}

#lateral{
  width: 200px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  float: right;
}

#navAbajo{
  font-weight: bold;
  border-top: 1px solid #ccc;
  padding: 1px 0px 10px 0px;
}

#barra-navegacion{
  padding: 3px 10px 5px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#cuerpo{
  width: 900px;
  margin-left: 1px;
  padding: 12px 0px 10px 0px;
  float: left;
}

#contenedor{
  text-align: left;
  width: 900px;
  margin: auto;
}

#cabecera{
  height: 100px;
  width: 900px;
}